@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<body>

    <h3>Notifications</h3>

    <div id="panel"></div>

    <button onclick="addNotify()">Add Notification</button>

    <script>

        function addNotify()
        {
         try{
            let p = document.createElement("p");
            p.innerText = "Welcome!";

            document.getElementById("panel").appendChild(p);
         }
         catch(err){
            alert("Error");
         }
        }

    </script>

</body>
</html>
