@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<body>

    <input id="msg">
    <button onclick="send()">Send</button>

    <div id="chat"></div>

    <script>

        function send()
        {
         try{
            let p = document.createElement("p");
            p.innerText = msg.value;

            document.getElementById("chat").prepend(p);
            msg.value="";
         }
         catch(e){
            alert("Error");
         }
        }

    </script>

</body>
</html>
